* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 1px black solid;
}

.seasons-select {
    height: 100vh;
}

.ss-color {
    color: #a1b191;
    font-weight: 500;
}

.aw-color {
    color: #BC9F77;
    font-weight: 500;
}