.cart-handler {
    cursor: pointer;
}

.font-awesome-color {
    color: rgb(128, 128, 128)
}

.navbar {
    background-color: #BC9F77;
}

.nav-text {
    font-weight: bold;
}

.navbar {
    height: 12vh;
}